# Exercise 1: Create a Jupyter Notebook

Create a new Jupyter notebook called DataScienceEcosystem.ipynb

# Name: Data Science Ecosystem

## Exercise 2: Create markdown cell with title of the notebook

## Data Science Tools and Ecosystem

## Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

## Exercise 4 - Create a markdown cell to list data science languages

<b>Some of the popular languages that Data Scientists use are</b>:
<div style="padding-left: 30px;">

* Python
* SQL
* Julia
* Java
* Scala
* JavaSc
* R

</div>

## Exercise 5 - Create a markdown cell to list data science libraries

<b>Some of the commonly used libraries used by Data Scientists include</b>:
<div style="padding-left: 30px;">

* Pandas
* Keras
* Numpy
* Plotly
* TensorFlow
* Scikit Learn
* SciPy
* Matplotlib
* Bob
* Caffe2

</div>

## Exercise 6 - Create a markdown cell with a table of Data Science tools

Data Science Tools:

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

## 1-Addition

In [ ]:
result = 3 + 5
print("The result of 3 + 5 is:", result)

The result of 3 + 5 is: 8

## 2-Subtraction and Multiplication

In [ ]:
result = (10 - 4) * 2
print("The result of (10 - 4) * 2 is:", result)

The result of (10 - 4) * 2 is: 12

## 3-Division

In [ ]:
result = 24 / 3
print("The result of 24 / 3 is:", result)

The result of 24 / 3 is: 8.0

## Exercise 8 - Create a code cell to multiply and add numbers

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
result = (3*4)+5
print("The result of (3*4)+5 is:", result)

The result of (3*4)+5 is: 17

## Exercise 9 - Create a code cell to convert minutes to hours

In [ ]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print("200 minutes is equal to", hours, "hours")

200 minutes is equal to 3.3333333333333335 hours

## Exercise 10 - Insert a markdown cell to list Objectives

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

## Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Shafya Alhidairah